
.data a:link {
    text-decoration: none;
    color: #3C4349;
}
.data a:visited {
    color: #3C4349;
}
.data a:hover {
    text-decoration:underline;
}

#program_select, #year_select, #period_select, #chart_select, #program_type_select {
    float:left;
    padding-right:25px;
    margin-bottom:15px;
}
#form_container {
    width: 810px;
}

.budget_control {
    font-weight: bold;
    display:block;
    margin-bottom: 5px;
}

.controlbutton{
    clear:left;
    float:right;
    margin-right: 10px;
}
.odd {
    background: #EEEEEE;
}